/* #region Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

body:has(.backdrop.is-open) {
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}
/* #endregion */

/* #region Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.logo-header {
  display: block;
  padding: 24px 0;
  color: #2E2F42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;text-transform: uppercase;
}

.web-header {
  color: #4D5AE5;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation a{
  display: block;
  padding: 24px 0;
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}

.navigation-link {
  position: relative;
}

.navigation-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: #404BBF;
  border-radius: 2px;

}

.navigation-link.navigation-link.active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list a{
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list a:hover,
.address-list a:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Section Hero */

.hero-wraper {
  padding: 188px 0;
  display: block;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #2E2F42;

  background-image:
  linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),
  url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.title-hero {
  max-width: 496px;
  margin: 0 auto 48px auto;

  font-weight: 700;
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-hero {
  padding: 16px 32px;

  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;

  color: #FFFFFF;
  background-color: #4D5AE5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404BBF;
}

/* #endregion */

/* #region Section Features */

.features h2 {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 112px;

  background: #F4F4FD;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-icon {
  display: block;
}

.features h3 {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Section Team */

.team {
  background-color: #F4F4FD;
  max-width: 1440px;
  margin: 0 auto;
}

.team h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 
  0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-item img {
  display: block;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #F4F4FD;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  background-color: #404BBF;
}

.social-link-icon {
  display: block;
  fill: currentColor;
}

/* #endregion */

/* #region Portfolio */

.portfolio h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.portfolio-list h3 {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-thumb
{
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;

  width: 100%;
  height: 100%;
  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #F4F4FD;
  background-color: #4D5AE5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .portfolio-item:hover .overlay,
  .portfolio-item:focus .overlay {
    transform: translateY(0);
  }
/* #endregion */

/* #region Footer */

.footer {
  background-color: #2E2F42;
  padding: 100px 0;
  color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.logo-footer {
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-footer {
  color: #4D5AE5;
}

.footer-title {
  width: 264px;
  margin-top: 16px;
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-right: 80px;
}

.footer-brand {
  margin-right: 120px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31D0AA;
}

.footer-subscribe {
  margin-left: auto;
}

.subscribe-title {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;

  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 4px;

  padding-left: 16px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31D0AA;
}

.footer-button-send {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  padding: 8px 24px;

  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
}

.footer-button-send:hover,
.footer-button-send:focus {
  background-color: #31D0AA;
}

.icon-send {
 fill: #FFFFFF;
}

/* #endregion */

/* #region Backdrop */
.backdrop {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 40%);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition-delay: 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
  padding: 72px 24px 24px;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #FCFCFC;
  box-shadow: 
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12),
  0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}

.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 250ms;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404BBF;
}

.modal-button-icon {
  pointer-events: none;
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}

.modal-text {
  margin-bottom: 16px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.modal-form {
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 34px;
  
  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
}

.form-input:focus {
  border-color: #4D5AE5;
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4D5AE5;
}

.form-label {
  color: #8E8F99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;

  resize: none;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgb(46 47 66 / 40%);
}

.field-checkbox {
  margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  color: #4d5ae5;text-decoration: underline;
}

.checkbox-input:checked + .checkbox-box {
  background-color: #404bbf;
  border-color: #404bbf;
}

.checkbox-input:checked + .checkbox-box .checkbox-icon {
  opacity: 1;
}

.checkbox-input:focus + .checkbox-box {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-label:focus-within .checkbox-box {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

.form-button {
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  border: none;
  margin: 24px auto;

  width: 169px;
  height: 56px;

  background-color: #4D5AE5;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: #404BBF;
}