/* #region Base styles */

.hide {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

body:has(.backdrop.is-open) {
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}
/* #endregion */

/* #region Header */
/* =========================
   HEADER - MOBILE
========================= */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.logo-header {
  display: block;
  padding: 16px 0;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-header {
  color: #4D5AE5;
}

.navigation {
  display: none;
}

.address {
  display: none;
}

.menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.menu-open-icon {
  fill: #2f2f37;
}

/* =========================
   HEADER - TABLET
========================= */

@media screen and (min-width: 768px) {
  .menu-open-btn {
      display: none;
    }

  .nav {
    gap: 120px;
  }

  .logo-header {
    padding: 24px 0;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navigation-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    }
  
  .navigation-link:hover,
  .navigation-link:focus {
      color: #404bbf;
    }

  .navigation-link.active {
      color: #404bbf;
    }
  
  .navigation-link.active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: #404bbf;
      border-radius: 2px;
    }

  .address {
      display: block;
      font-style: normal;
    }
  
  .address-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

  .address-list a {
      display: block;
      color: #434455;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  .address-list a:hover,
  .address-list a:focus {
      color: #404bbf;
    }
}

/* =========================
   HEADER - DESKTOP
========================= */

@media screen and (min-width: 1158px) {

  .nav {
    gap: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-list a {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

}

/* #endregion */

/* #region Section Hero */
/* =========================
   HERO - MOBILE
========================= */

.hero-wrapper {
  padding: 72px 0;
  min-height: 432px;
  background-color: #2E2F42;


  background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office_mob@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
}

.title-hero {
  max-width: 216px;
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-hero {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;

  background-color: #4d5ae5;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404BBF;
}

/* =========================
   HERO - TABLET
========================= */

@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 112px 0;
    min-height: 436px;

    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office_tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-wrapper {
        background-image:
          linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/hero/people-office_tab@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

  .title-hero {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* =========================
   HERO - DESK
========================= */
@media screen and (min-width: 1158px) {

.hero-wrapper {
  padding: 188px 0;
  min-height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office_desk@1x.jpg);
    background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-wrapper {
        background-image:
          linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/hero/people-office_desk@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

  .title-hero {
    margin: 0 auto 48px;
  }

}
/* #endregion */

/* #region Section Features */
/* =========================
   FEATURES - MOBILE
========================= */

.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.features h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.features p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-icon-box {
  display: none;
}

/* =========================
   FEATURES - TABLET
========================= */

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features h3 {
    text-align: left;
  }

}

/* =========================
   FEATURES - DESKTOP
========================= */

@media screen and (min-width: 1158px) {

  .features {
    padding: 120px 0;
  }

  .features-item {
     width: calc((100% - 72px) / 4);
  }
  
  .features-icon-box {
      display: flex;
      align-items: center;
      justify-content: center;
  
      width: 100%;
      height: 112px;
      margin-bottom: 8px;
  
      background: #F4F4FD;
  
      border: 1px solid #8E8F99;
      border-radius: 4px;
  }
     
  .features-icon {
    display: block;
  }
    
  .features h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
    
  .features p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion */

/* #region Section Team */
/* =========================
   TEAM - MOBILE
========================= */

.team {
  background-color: #F4F4FD;
  margin: 0 auto;
  padding: 96px 0;
}

.team h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-item img {
  display: block;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #F4F4FD;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  background-color: #404BBF;
}

.social-link-icon {
  display: block;
  fill: currentColor;
}

/* =========================
   TEAM - TABLET
========================= */

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

/* =========================
   TEAM - DESKTOP
========================= */

@media screen and (min-width: 1158px) {

.team {
  padding: 120px 0;
}

.team-list {
  flex-wrap: nowrap;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}
}

/* #endregion */

/* #region Portfolio */
/* =========================
   PORTFOLIO - MOBILE
========================= */

.portfolio {
  padding: 96px 0;
}

.portfolio h2 {
  margin-bottom: 72px;
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.portfolio-subtitle {
  margin-bottom: 8px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  display: none;
}

/* =========================
   PORTFOLIO - TABLET
========================= */

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

/* =========================
   PORTFOLIO - DESKTOP
========================= */

@media screen and (min-width: 1158px) {

.portfolio {
  padding: 120px 0;
}
  
.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;

  width: 100%;
  height: 100%;
  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #F4F4FD;
  background-color: #4D5AE5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform: translateY(0);
} 
}

/* #endregion */

/* #region Footer */
/* =========================
   FOOTER - MOBILE
========================= */

.footer {
  background-color: #2E2F42;
  padding: 96px 0;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-brand {
  width: 100%;
  max-width: 288px;
  margin-bottom: 72px;
  text-align: left;
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-footer {
  color: #4D5AE5;
}

.footer-title {
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social {
  text-align: center;
  margin-bottom: 72px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31D0AA;
}

.footer-subscribe {
  text-align: center;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-input {
  width: 288px;
  height: 40px;
  padding-left: 16px;

  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 4px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31D0AA;
}

.footer-button-send {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  padding: 8px 24px;

  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
}

.footer-button-send:hover,
.footer-button-send:focus {
  background-color: #31D0AA;
}

.icon-send {
  fill: #FFFFFF;
}

/* =========================
   FOOTER - TABLET
========================= */
@media screen and (min-width: 768px) {

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }

  .footer-brand {
    margin-bottom: 0;
  }
  
  .logo-footer {
  display: block;
  text-align: left;
}

.footer-social {
    text-align: left;
    margin-bottom: 0;
}

.footer-subscribe {
    text-align: left;
}

.footer-form {
    flex-direction: row;
    gap: 24px;
}

.footer-input {
    width: 264px;
  }
}

/* =========================
   FOOTER - DESKTOP
========================= */

@media screen and (min-width: 1158px) {

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 0;
    row-gap: 0;
    column-gap: 0;
  }

  .footer-brand {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-subscribe {
    margin-left: auto;
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .footer-input {
    width: 264px;
  }
}

/* #endregion */

/* #region Mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #ffffff;

  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 72px 24px 40px 16px;
}

.mobile-menu-close-btn {
  position: absolute;

  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);

  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-address {
  margin-top: auto;
  font-style: normal;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.mobile-menu-phone {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;

  color: #4d5ae5;
}

.mobile-menu-email {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;

  color: #434455;
}

.mobile-menu-social-list {
  display: flex;

  justify-content: space-between;

  margin-top: 48px;
}

.mobile-menu-social-link {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #4d5ae5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion */

/* #region Backdrop */
/* =========================
   BACKDROP
========================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 40%);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition-delay: 0ms;
}

/* =========================
   MODAL - MOBILE
========================= */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  width: 288px;
  min-height: 584px;
  max-height: calc(100% - 16px);
  overflow-y: auto;

  padding: 72px 16px 24px;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 250ms;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.modal-button-icon {
  pointer-events: none;
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}

.modal-text {
  margin-bottom: 16px;

  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* =========================
   MODAL FORM
========================= */

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.form-label {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;

  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.input-icon {
  fill: #4d5ae5;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgb(46 47 66 / 40%);
}

/* =========================
   CHECKBOX
========================= */

.field-checkbox {
  margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #ffffff;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-input:checked+.checkbox-box {
  background-color: #404bbf;
  border-color: #404bbf;
}

.checkbox-input:checked+.checkbox-box .checkbox-icon {
  opacity: 1;
}

.checkbox-input:focus+.checkbox-box {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

.checkbox-label:focus-within .checkbox-box {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

/* =========================
   FORM BUTTON
========================= */

.form-button {
  display: block;
  width: 169px;
  height: 56px;
  margin: 24px auto 0;
  padding: 16px 32px;

  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: #404bbf;
}

/* =========================
   MODAL - TABLET
========================= */

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}
/* #endregion */